body {
	margin: 0;
	font-family: monospace;
	background-color: #dec7002e;
}

:root {
	--border-grey: #dadada;
	--border-lightgrey: #e5e2e2;
	--notebook-background: #ffffb3;
	--notebook-line: #004080;
}
